<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!--layout class="org.apache.log4j.SimpleLayout" /-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd-'T'HH:mm:ss.SSSZ} | ${host} | %-15t | %-5p | %c %4L | %m%n"/>
        </layout>
    </appender>
    <category name="com.nsn" additivity="false">
        <priority value="DEBUG" />
        <appender-ref ref="ConsoleAppender" />
    </category>
    <root>
        <priority value="WARN" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4j:configuration>